.container-wrap{
    flex : 1;
    justify-content: center; /* 자식 요소들을 수평 중앙 정렬 */
    align-items: center;     /* 자식 요소들을 수직 중앙 정렬 */
}

.container-header{
    margin-top: 100px;
}
.container-nav {
    font-weight: bold;
    margin-top: 70px;
    font-size: 18px;
    display: flex; /* Flexbox 사용 */
    justify-content: space-around; /* 아이템 간격 조정 */
    padding: 0; /* 기본 패딩 제거 */
}

.container-nav ul {
    display: flex; /* ul 내부도 flexbox 사용 */
    padding: 0; /* 기본 패딩 제거 */
    list-style-type: none; /* 기본 리스트 스타일 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.container-nav li {
    margin: 0 15px; /* 각 아이템 간의 마진 추가 (필요에 따라 조정) */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    color: black;
    position: relative; /* 배지 위치를 설정하기 위해 상대 위치 지정 */
}

.badge-dot {
    width: 10px; /* 점의 너비 */
    height: 10px; /* 점의 높이 */
    background-color: red; /* 빨간색 배경 */
    border-radius: 50%; /* 원형으로 만들기 */
    position: absolute; /* 배지 위치 설정 */
    top: 0; /* 텍스트의 위쪽 */
    right: 10; /* 텍스트의 오른쪽 */
    
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 150px;
    padding: 50px;
    border: 1px black;
    width: 1000px;
}

.product-image{
    width: 100%; /* 카드 너비에 맞춤 */
    height: 300px; /* 고정 높이 설정 */
}



.product-name{
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 0px;

}
.product-price{
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: left; /* 왼쪽 정렬 */
}

